:root {
    --normal-font: "Gothic A1", sans-serif;
    --normal-text-color: #ffffff;
    --link-hover-color: #7DE9E2;
    --link-divider-color: #2b1f3a;
    --content-width: 40%;
    --content-height: auto;

    --card-font-size: 30px;
    --card-background-color: #240750;

    --base-background-color: #0E0A1E;
}

body {
    overflow-x: hidden;
    background-color: var(--base-background-color);
    
}

nav {
    z-index: 2; /* default of 0 */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 40px;
    
    position: fixed;
    margin: 10px;
    
    
}

a {
    text-decoration: none;
}

nav a {
    padding: 0 5px;
    border: 1px solid var(--link-divider-color);
    border-width: 0 2px 0 0; /* top, right, bottom left */
}

nav a:last-child {
    border-width: 0;
}

nav a:hover {
    background-color: var(--link-divider-color);
    color: var(--link-hover-color);
}



h1, h2, h3, h4, h5, h6, p, footer {
    color: #FFF;

    font-family: var(--normal-font);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

section {
    margin: 5% 20%;
    padding: 2rem;

    background-color: #0d0c11;
    box-shadow: 10px 5px 5px #030305;
}

p {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 14;
    line-height: 1.8;
}

footer {
    color: lightgray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.subcontainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.subcontainer.footer-container {
    justify-content: center;
    gap: 1%;
}

.container.card {
    justify-content: center;
    align-items: center;
}

.container.projects {
    z-index: 1;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container.nav {
    justify-content: flex-end;
    align-items: start;
}

.container.content {
    width: var(--content-width);
    height: var(--content-height);
}

.container.footer {
    justify-content: center;
    align-items: flex-end;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 40px;
    float: left;

    color: #FFF;

    text-align: center;
    font-family: "Gothic A1";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-text.projects {
    width: 83px;
}

.business-card {
    width: 700px;
    height: 400px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;

    background-color: var(--card-background-color);
}

.business-card-text {
    position: relative;
    padding: 5%;
    flex-shrink: 0;
    width: 50%;

    display: inline-block;

    color: var(--normal-text-color);

    font-family: var(--normal-font);
    font-size: var(--card-font-size);
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-align: left;
    word-wrap: break-word;
}

.chess {
    position: relative;
    width: 200px;
    margin: auto;

    display: inline-block;
}

